<div class="card text-center">
  <div class="card-header">
    FAQ
  </div>
  <div class="card-body">
    <div class="faq">
      <a data-toggle="collapse" href="#page" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="alert alert-warning" role="alert">
          Thêm các pages mà bạn quản lý
        </div>
      </a>
      <div class="collapse" id="page">
        <div class="card card-body">
          <p>Nhấn vào <a href="/index.html#/pages">đây</a> và làm theo hướng dẫn</p>
        </div>
      </div>
    </div>
    <app-faq question="Đăng bài lên fanpage" img="https://i.imgur.com/AUj3RHf.png"></app-faq>
    <app-faq question="Xem những bài vừa được đăng" answer="Sau khi đăng lên page xong, sẽ hiển thị danh sách các post vừa được đăng ngay phía dưới để tiện theo dõi"
      img="https://i.imgur.com/mJfTSzQ.png"></app-faq>
    <app-faq question="Đăng lên tất cả fanpage" answer="Ở mục Select Pages, nhấn Select All để chọn tất cả"></app-faq>
    <app-faq question="Trang Dashboard" answer="Trang Dashboard hiển thị thông tin các page bạn đang quản trị" img="https://i.imgur.com/2oRfLuM.png"></app-faq>
    <app-faq question="Trang Chi tiết" answer="Trang chi tiết hiển thị thông tin các post có trên 1 page cụ thể" img="https://i.imgur.com/f0FW70G.png"></app-faq>
    <app-faq question="Lên lịch cho bài đăng" answer="Nhấn vào icon lịch như trong hình và chọn thời gian đăng bài" img="https://i.imgur.com/axBCF4G.png"></app-faq>
    <app-faq question="Quản lý comment" answer="Trang New Comment hiển thị các comment mới nhất trên các page bạn quản lý, để trả lời hãy nhấn vào View & Reply và nhập nội dung trả lời" img="https://i.imgur.com/cIUKjji.png"></app-faq>
  </div>
  <div class="card-footer text-muted d-flex">
    <span class=" ml-auto p-2">
      <a href="http://m.me/xuanhuylife" target="_blank"> Contact nguyenxuanhuyjs@gmail.com </a>
    </span>
  </div>
</div>