<div class="alert alert-primary" role="alert" *ngIf="infoPage" >
  <h2>
    <a href="https://www.facebook.com/{{infoPage.id}}" target="_blank">
      Page: {{infoPage.name}} </a> 
  </h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Caption</th>
      <th scope="col">Created Time</th>
      <th scope="col">Share</th>
      <th scope="col">Comment</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of arrFeeds;let i = index ">
      <th scope="row"> {{i+1}} </th>
      <td>{{post.message | slice:0:30}}</td>
      <td>{{post.created_time | date:'yyyy-MM-dd HH:mm'}}</td>
      <td>{{post.shares ? post.shares.count : 0}}</td>
      <td>{{post.comments ? post.comments.count : 0}}</td>
      <td><a href="https://www.facebook.com/{{post.id}}" target="_blank">
        <button type="button" class="btn btn-outline-primary">View On Facebook</button>
      </a></td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success btn-block" (click)="loadMore()" *ngIf="isNext">Load More ...</button>