<div class="row newcomment">
  <div class="col-6">
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <div class="input-group mb-3">
          <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="access_token" (change)="onPageSelected($event.target.value)">
            <option selected value="all">Tất cả page</option>
            <option [value]="page.access_token" *ngFor="let page of arrPages">{{page.name}}</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">Chọn page</label>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        
        <div class="alert alert-primary" role="alert" *ngFor="let cmt of arrComments | paginate: { itemsPerPage: 10, currentPage: page }"
          (click)="onClickCmt(cmt)" data-toggle="tooltip" data-placement="top" [title]="cmt.cmt.created_time | date:'HH:mm dd-MM-yyyy'">
          <div class="row d-flex">
            <span class="from_name">
              <a href="https://www.facebook.com/{{cmt.cmt.from.id}}" target="_blank">
                <img src="https://graph.facebook.com/{{cmt.cmt.from.id}}/picture?width=30&height=30" alt=""> {{cmt.cmt.from.name}}
              </a>
            </span>
            <button type="button" class="btn btn-outline-success ml-auto p-2">View & Reply</button>
          </div>
          {{cmt.cmt.message}}
        </div>
      </div>
      <!-- Card Footer -->
      <div class="card-footer text-muted">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <app-repcmt [commentInfo]="commentInfo"></app-repcmt>
  </div>

</div>